/* Estilos gerais para o formulário e seus elementos */
form {
    margin-top: 20px;
}

.question-container {
    margin-bottom: 20px;
}

.options-container {
    margin-top: 10px;
}

label {
    margin-left: 10px;
    font-weight: normal;
}

/* Estilos para realçar a opção correta */
input[type="radio"]:checked + label {
    color: green;
    font-weight: bold;
}