
*{
  /*border:3px solid blue;*/
}

body{
    margin:0px;
    
   
}
#navbar {
    height: 40px;
    display: flex;
    width: 100%;
    position: fixed;
    
}

.top{
margin: 0px;
width: 100%;
height: 60px;
display: flex;

align-items: center;
justify-content: space-around;
background-color: dimgrey;
list-style: none;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color:white;


   
}

header {
    height: 250px;
    width: 100%;
    justify-content: center;
    background-color:cornflowerblue;
    align-items: center;
    display: flex;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:white;
    
}

#main-content {
    height: 2000px;
    display: flex;
    width: 100%;
    
    justify-content: center;
    align-items: center;font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:black;
    

}

#sidebar {
    
    height: 2000px;
    width:100%;
    padding: 0px;
    margin: 0px;
    width: 110px;
    background-color:dimgrey ;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:white;

}

.side
{

    width: 100%;
    list-style: none;
    margin:0px;
    position: sticky;
    top: 60px;

}

.side li{
    
    padding: 5px;
    margin: 0px;
    height: 40px;
   
    font-size: 20px;
    
    
}

main{
    display:flex;
    list-style: none;
    height: 2000px;
}


footer {

    justify-content: center;
    align-items: center;
    height: 100px;
    display: flex;
    background-color:dimgrey ;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:white;
    
}
