@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

html {
    font-size: 16px;
    font-family: "Josefin Sans", sans-serif;

}

hr{
    border:0;
    height:1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);

}

main{
    max-width: 600px;
    margin: 0 auto;
}

label.correct {
    background-color: #b9e8b9; /* Green background for correct answer */
}

label.wrong {
    background-color: #f5baba; /* Red background for wrong answer */
}

/* Styling for the question container */
.question-container {
    border: 2px solid #ccc;
    padding: 20px;
    background-color: #f7f7f7;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 20px;
}

.custom-radio {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid #ccc;
    border-radius: 50%;
    margin-right: 8px;
    position: relative;
    top: 2px;
}
/* Styling for the question box */
.question-box {
    border: 2px solid #ccc;
    padding: 20px;
    background-color: #f7f7f7;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
}

/* Styling for the answer options */
label {
    display: block;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

label input[type="radio"]:checked + .custom-radio {
    background-color: #007bff;
    border-color: #007bff;
}

label:hover .custom-radio {
    border-color: #007bff;
}

/* Styling for the correct answer */
label.correct {
    background-color: #b9e8b9; /* Green background for correct answer */
}

/* Styling for the wrong answer */
label.wrong {
    background-color: #f5baba; /* Red background for wrong answer */
}

/* Styling for the submit button */
button[type="submit"] {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
.wrong-answer {
    color: red;
}