*{
    border: 3px solid red;
}

header{
    font-size: 35px;
    padding: 35px;
}



body{
    padding: 20px;
}

.first{
 
    border: 150px solid green;
    width: 200px;
    height: 104px;

}

.content{


    font-size: large;
    width: 50 px;
    height: 100px;
    text-align: center;
    font-size: 80px;
    padding: 0px;
    margin: 0px;
    overflow: scroll;

   
    
}

.second {
    border: 20px solid black;
    



    
    
    
}

.terceiro{

    border: 85px solid lightsalmon;
    margin-left: 100px;
    margin-top: 300px;
    margin-right: 600px;
  

}


.padding {
    text-align: center;
    font-size: 30px;
    background-color: green;
    height:35px;
    width: 100px;
    margin: 0px;
}

.margin{
    margin: 0px;
    font-size: 30px;
    background-color: lightsalmon;

}
.border{
    margin: 0px;
    font-size: 30px;
    border: 4px solid black;
}

.terceiro,
.second,
.first,
.padd{

    display: inline-block;

}

.padd{

    width: 291px;
    height: 43px;

}

.padding,
.margin,
.border{

    display: inline-block;
}




