body{
    background: linear-gradient( 120deg, #09eb209f, #d90d0ded);
    display: flex;

    justify-content: center;
    height: 100vh;
}

h1 {
    color: white;
    align-items: center;
    text-align: center;
    text-transform:capitalize;
}

#pokeball{
    position: relative;
    width:100px;
    height: 100px;
}



.view{
    background: linear-gradient(120deg, #eb0d09a5, #4d2424ed);
    border: 10px transparent rgb(208,40,40);
    height: 500px;
    width: 400px;
    border-radius: 10px;
    padding-top: 10px;
    text-align: center;
    color: white;
    margin :auto;
    margin-top: 30px;
    box-shadow: 3px 3px 15px black;
    
}

#tela {
    margin:auto;
    background: linear-gradient(120deg, #75d0c5, #b0f6c1);
    width: 300px;
    height: 230px;
    margin-bottom: 35px;
    border-radius: 10px;
    border: 3px solid white;
    
}

#img {
    margin:auto;
    margin-top: 10px;
    
    width: 200px;
    height: 200px;
    border-radius: 50%;
    
}

button{
    height: 35px;  
    margin: 7px;
    background: linear-gradient(120deg, #d0ca75, #e35610);
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 3px 3px 5px black;

}

 button:hover {
    background-color: green;
    height: 40px;
 }
